a{
    text-decoration: none;
}

li{
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.736);
    color: white;
    min-height: 100vh;
}

main h2{
    font-size: 3rem;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 4.8rem;
}
nav{
    width:48rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid #ccc;
}

nav a {
    color: white;
    cursor: pointer;
    padding:  16px 16px 0px 16px;
    font-weight: 600;
}

nav a:hover{
    border-color: #3A3845;
    background-color: #fef2f2;
    color: black;
    padding:  16px 16px 0px 16px;
    font-weight: 600;
}

nav a.active {
    color: #000;
    border-color: #68B984;
}
form input{
    border: .1rem solid #ccc;
    border-radius: .3rem;
    width: 45rem;
    margin: 4rem 0;
    
    padding: .6rem 1rem;
    font-size: 1.6rem;
    letter-spacing: .06rem;
    font-weight: bold;
}

form button{
    padding: .8rem 2.8rem;
    border: none;
    border-radius: .3rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2.4rem;
     background-color: #68B984;
     color: #fff;
     border-radius: 16px;
}

label{
    font-size: 1.5rem;
    letter-spacing: .06rem;
    color: #fff;
    /* color: #3A3845; */
    font-weight: bold;
}

.main-task li {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    width:50rem;
    min-height: 6rem;
    border-bottom: .1rem solid #ccc;
}

.main-task li:first-child{
    border-top: .1rem solid #ccc;
}

.main-task li:hover{
    background-color: #252427; 
}

.main-task li input[type="checkbox"]:checked  + label {
    text-decoration: line-through;
    color: #D14D72;
}

.main-task li button{
    padding: .6rem 1rem;
    width: 7rem;
    background-color: #D14D72;
    color: #FFF9F9;
    border:none;
    display: inline-block;
    cursor: pointer;
    justify-self: center;
    letter-spacing: .1rem;
    border-radius: 16px;
}